table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

table th, table td {
    padding: 10px 15px;
    border: 2px solid #ddd;
}

table th {
    background-color: rgb(32, 37, 50);
}

th{
    color: white;
    text-align: center; /* Centra el texto horizontalmente */
    padding: 15px 30px; 
}

.historial {
    color: rgb(32, 37, 50);
}

.pdf-mode #pdf-content {
    display: flex;
    justify-content: center;
}

#historial-container {
    width: 100%;
    max-width: 800px; /* Ajusta este valor según sea necesario */
    margin: 0 auto;
    padding: 20px; /* Añade un poco de padding si es necesario */
    display: flex;
}