/* Estilos para el modal */
/* Estilos para el modal */
.modal {
  display: none; /* Ocultar el modal por defecto */
  position: fixed; /* Posición fija */
  z-index: 9999; /* Ajustar el z-index para estar por encima de otros elementos */
  left: 0;
  top: 0;
  width: 100%; /* Ancho completo */
  height: 100%; /* Altura completa */
  overflow: auto; /* Habilitar el desplazamiento si el contenido del modal es demasiado largo */
  background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro semi-transparente */
}

/* Resto de estilos para el modal... */

/* Estilos para el contenido del modal */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* Centrar verticalmente */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Ancho del contenido */
  max-width: 500px; /* Ancho máximo */
  box-sizing: border-box; /* Para incluir padding y border en el ancho total */
  border-radius: 10px; /* Bordes redondeados */
}

.modal-content h3 {
  text-align: center;
  color: #2b2d42;
  font-weight: 700;
  margin: 0 0 20px; /*margen de espacio hacia abajo*/
  font-size: 24px; /*Tamaño de letra*/
}

.modal-content hr {
  margin: 0 0 20px; /*margen de espacio hacia abajo*/
  border-width: 3px; /* Grosor de la línea */
}

.modal-content p {
  color: #727780; /*#515966*/
  margin: 0 0 20px; /*margen de espacio hacia abajo*/
  font-size: 18px; /*Tamaño de letra*/
}

/* Estilos para el botón de cierre (X) */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#cursorPrueba {
  cursor: pointer; /* Cambiar el cursor a una mano con un dedo */
}

.btns-cerrar a {
  display: block; /* Mostrar los enlaces en bloque */
  margin-bottom: 0px; /* Añadir un espacio entre cada enlace */
  padding: 10px; /* Aumentar el padding para aumentar la altura */
  background-color: #1e1f29;
  color: #000;
  font-weight: 700;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.btns-cerrar a:first-child {
  background-color: #1e1f29;
}

.btns-cerrar a:hover {
  opacity: 0.9;
}

.btns-cerrar a:first-child:hover {
  background-color: #1e1f29; /* Cambiar el color de fondo al pasar el cursor */
}

.btns-cerrar-session {
  display: flex; /* Usa flexbox para colocar los botones uno al lado del otro */
  justify-content: right; /* Centra los botones horizontalmente */
  list-style-type: none; /* Elimina los puntos de la lista */
  padding: 0; /* Elimina el relleno de la lista */
}

.btns-cerrar-session button {
  margin-right: 10px; /* Añadir espacio entre los botones */
  padding: 10px; /* Aumentar el padding para aumentar la altura */
  background-color: #ffffff;
  font-weight: 700;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  border: none; /* Eliminar el borde del botón */
  cursor: pointer; /* Cambiar el cursor a una mano */
}

.btns-cerrar-session button:hover {
  opacity: 0.9;
}

.btns-cerrar-session button:last-child {
  margin-right: 0; /* Eliminar el margen derecho del último botón */
}
