*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
main{
    width: 100%;
    height: 100vh;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    width: 100%;
    max-width: 400px;
    background-color: rgba(37, 37, 37, 0.829);
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 20px;
}
.form h1{
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
    position: relative;
}
.form h1::after{
    content: '';
    width: 150px;
    height: 4px;
    border-radius: 3px;
    background: #c00000;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.form-input{
    background-color: #515966;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    transition: max-height 0.5s;
    overflow: hidden;
}
.form-input input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
    padding: 18px 15px;
    color: white;
}

.form-input input::placeholder{
    color: white;
}
.form i{
    margin-left: 15px;
    color: #c00000;
}
.btn-group{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#sigIn{
    font-size: 16px;
    font-weight: bolder;
    background-color: #c00000;
    color: white;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}
#sigUp{
    font-size: 16px;
    font-weight: bolder;
    background-color: #c00000;
    color: white;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}
#sigUp-create{
    font-size: 16px;
    background: transparent;
    color: white;
    font-weight: bold;
    border: 0;
    margin: 20px 0 0;
    cursor: pointer;
}
#sigIn-in{
    font-size: 16px;
    background: transparent;
    color: white;
    font-weight: bold;
    border: 0;
    margin: 20px 0 0;
    cursor: pointer;
}
#form-register{
    position: absolute;
    opacity: 0;
}
#form-login{
    position: relative;
    opacity: 1;
}